<configuration debug="false" scan="false">

	<!-- log human-readable strings to STDOUT -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date %-5level [%thread] - [%logger] [%mdc] - %msg%n
			</pattern>
		</encoder>
	</appender>
	
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>./logs/log_info.log</file>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>debug</level>
		</filter>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="FILE" />
	</root>

	<root level="${LOG_ROOT_LEVEL:-INFO}">
		<appender-ref ref="${APPENDER:-STDOUT}" />
	</root>

	<logger name="feng.sports" level="${LOG_APP_LEVEL:-INFO}" />
	
</configuration>